<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh.bnpp.member">

	<select id="selectList" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_CERTI, MEMBER_CAREER, MEMBER_REGDATE
		FROM MEMBER
		ORDER BY MEMBER_ID DESC
	</select>
	
	<select id="selectOne" parameterType="String" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_CERTI, MEMBER_CAREER, MEMBER_REGDATE
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<insert id="insert" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES(#{member_id}, #{member_pw}, #{member_name}, #{member_email}, #{member_phone}, #{member_address} #{member_role}, #{member_category}, #{member_certi}, #{member_career}, SYSDATE)
	</insert>
	
	<update id="updatestudent" parameterType="MemberDto">
		UPDATE MEMBER
		SET MEMBER_PW = #{member_pw}, MEMBER_NAME = #{member_name}, MEMBER_EMAIL = #{member_email}, MEMBER_PHONE = #{member_phone}, MEMBER_ADDRESS = #{member_address}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="updateteacher" parameterType="MemberDto">
		UPDATE MEMBER
		SET MEMBER_PW = #{member_pw}, MEMBER_NAME = #{member_name}, MEMBER_EMAIL = #{member_email}, MEMBER_PHONE = #{member_phone}, MEMBER_ADDRESS = #{member_address}, 
		MEMBER_CATEGORY = #{member_category}, MEMBER_CERTI = #{member_certi}, MEMBER_CAREER = #{member_career}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</delete>

</mapper>
