<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="member">

	<select id="selectList" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_CERTI, MEMBER_CAREER, MEMBER_REGDATE
		FROM MEMBER
		ORDER BY MEMBER_ID DESC
	</select>
	
	<update id="updatestudent" parameterType="MemberDto">
		UPDATE MEMBER
		MEMBER_NAME = #{member_name}, MEMBER_EMAIL = #{member_email}, MEMBER_PHONE = #{member_phone}, MEMBER_ADDRESS = #{member_address}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="updateteacher" parameterType="MemberDto">
		UPDATE MEMBER
		MEMBER_NAME = #{member_name}, MEMBER_EMAIL = #{member_email}, MEMBER_PHONE = #{member_phone}, MEMBER_ADDRESS = #{member_address}, 
		MEMBER_CATEGORY = #{member_category}, MEMBER_CERTI = #{member_certi}, MEMBER_CAREER = #{member_career}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="updatepw" parameterType="MemberDto">
		UPDATE MEMBER
		SET MEMBER_PW = #{member_pw}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_INTRO, MEMBER_CERTI, MEMBER_CAREER , MEMBER_REGDATE, MEMBER_IMG_PATH, MEMBER_IMG_NAME
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="selectOne" parameterType="String" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_INTRO, MEMBER_CERTI, MEMBER_CAREER , MEMBER_REGDATE, MEMBER_IMG_PATH, MEMBER_IMG_NAME
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<insert id="insert" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES(#{member_id},#{member_pw},#{member_name},#{member_email},#{member_phone},#{member_address},#{member_role},#{member_category},#{member_intro},#{member_certi},#{member_career},SYSDATE,#{member_img_path},#{member_img_name})
	</insert>

	<delete id="delete" parameterType="MemberDto">
		DELETE FROM MEMBER
		WHERE MEMBER_ID=#{member_id}
	</delete>
	
	<select id="checkId" parameterType="String" resultType="String">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_ID=#{checkID}
	</select>
	
	<select id="findId" parameterType="MemberDto" resultType="String">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = #{member_name} AND MEMBER_EMAIL = #{member_email}
	</select>
	
	<select id="findPw" parameterType="MemberDto" resultType="String">
		SELECT MEMBER_PW
		FROM MEMBER
		WHERE MEMBER_ID = #{member_id} AND MEMBER_NAME = #{member_name}
	</select>

	<select id="findAllT" parameterType="String" resultType="MemberDto">
		SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_ROLE, MEMBER_CATEGORY, MEMBER_INTRO, MEMBER_CERTI, MEMBER_CAREER , MEMBER_REGDATE, MEMBER_IMG_PATH, MEMBER_IMG_NAME
		FROM MEMBER
		WHERE MEMBER_CATEGORY = #{category}
	</select>
	
	<update id="img" parameterType="hashmap">
		UPDATE MEMBER
		SET MEMBER_IMG_PATH = #{member_img_path}, MEMBER_IMG_NAME = #{member_img_name}
		WHERE MEMBER_ID = #{member_id}
	</update>

</mapper>