<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtc">

    <select id="selectRoomList" resultType="RtcDto">
        SELECT RTC_ROOM, RTC_TITLE
        FROM RTC
    </select>

    <insert id="insertRoom" parameterType="hashmap">
        INSERT INTO RTC
        VALUES (#{roomId}, #{roomPass}, #{roomTitle})
    </insert>

    <select id="compareInfo" parameterType="hashmap" resultType="int">
        SELECT COUNT (*)
        FROM RTC
        WHERE RTC_ROOM = #{roomId}
          AND RTC_PASS = #{roomPass}
    </select>
</mapper>
